<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- bean definitions here -->
	
	<import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <jaxws:endpoint id="documentWebServiceEndpoint" implementor="#documentWebServiceImpl" address="/document"/>
    
    <bean id="documentWebServiceImpl" class="bobamrz.hajusVahe.DocumentWebServiceImpl" >
    	<property name="documentService" ref="documentService"></property>
    </bean>
    
    <bean id="documentService" class="bobamrz.hajusVahe.service.DocumentService" >
    	<property name="documentValidator" ref="documentValidator"></property>
    	<property name="catalogHome" ref="catalogHome"/>
    	<property name="documentHome" ref="documentHome"/>
    </bean>
    
    <bean id="documentValidator" class="bobamrz.hajusVahe.service.DocumentValidator" >
    	<property name="catalogHome" ref="catalogHome"/>
<!--     	<property name="documentHome" ref="documentHome"/> -->
    </bean>
    
    <bean id="catalogHome" class="bobamrz.hajusVahe.generated.CatalogHome" >
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="documentHome" class="bobamrz.hajusVahe.generated.DocumentHome" >
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    
	
	<!-- Hibernate and Transactions -->
	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/vahe143676"/>
        
        <property name="username" value="user"/>
        <property name="password" value="user"/>
    </bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource" />
	    <property name="mappingResources">
	        <list>
	            <value>bobamrz/hajusVahe/generated/Catalog.hbm.xml</value>
	            <value>bobamrz/hajusVahe/generated/Document.hbm.xml</value>
	        </list>
	    </property>
	    <property name="hibernateProperties">
	        <value>
	            hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
	            hbm2ddl.auto=validate
	            hibernate.id.new_generator_mappings=true
	        </value>
	    </property>
	</bean>
	
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="serviceMethods" expression="execution(* bobamrz.hajusVahe.service.*.*(..))"/>
    	<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>
	
</beans>